
.key{
    background-color: rgb(243,243,243);
    border : 2px solid black;
    border-radius: 5px;
    grid-column: span 2;
    font-size: 20px;
    text-align: center;
    padding-top: 17px;
    transition: 0.1s;
    cursor: default;
}

/*.key:hover{
    border : 1px solid #eeeeee;
}*/

.active{
    background-color: aqua;
}

.delete{
    grid-column: span 4;
}

.tab{
    grid-column: span 3;
}

.backslash{
    grid-column: span 3;
}

.capslock{
    grid-column: span 4;
}

.enter{
    grid-column: span 4;
}

.leftshift{
    grid-column: span 5;
}

.rightshift{
    grid-column: span 5;
}

.leftctrl{
    grid-column: span 3;
}

.command{
    grid-column: span 3;
    font-size: 14px;
}

.space{
    grid-column: span 13;
}